h1 {
    font-family: sans-serif;
    text-align: center;
    font-size: 40px;
    color: #ff3300;
    }
h2{
    font-family: sans-serif;
    text-align: center;
    font-size: 30px;
    color: #ff004c;
}

body {
    /*background-image: url("../../IMG/wall.jpg"); 
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-size: cover;*/
    background: linear-gradient(to right, #d9a7c7, #fffcdc);
    }

#clock {
	font-family: sans-serif;
	color: #fff;
	font-weight: 200;
	text-align: center;
	font-size: 50px;
	padding: 10px;
	border-radius: 3px;
	background: #f93f65;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

#buttons {
    margin: auto;
    margin-top: 50px;
}

#buttons button { 
  background:#e55604; 
  border:none; 
  color:#fff; 
  cursor:pointer; 
  width:80px; 
  margin:15px auto;
  font-size:16px;
  font-weight: 200;
  text-align: center;
  height: 40px;
  border-radius: 20px;
}

#buttons button#stop{
  background : #f00;
}

#buttons button#break{
  background : #ff3700;
}